<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Localizer["Country"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Country.Name" />
            <ValidationMessage For="@(() => Country.Name)" />
        </div>
    </div>

    <button class="btn btn-sm btn-primary" type="submit"><i class="bi bi-floppy"></i> @Localizer["SaveChanges"]</button>
    <button class="btn btn-sm btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left-circle-fill"></i> @Localizer["Return"]</button>
</EditForm>